*{
    margin: 0;
    padding: 0;
}

.login{
    background-color: aqua;
    width: 10%;
    margin: auto;
    padding: 1.5rem;
    border-radius: 25px;

}

.cadastre{
    cursor: pointer;
    text-align: right;
    color:white;
}